/* Overall font setting*/
body{
    font-family: Roboto, 'Open Sans', sans-serif;
}


.left > div:first-of-type{
    font-size: 2em;
    color: #F9FAF8;
    font-weight: 900;
    text-shadow: -2px 3px 10px yellowgreen;

}

.left > #normal{
    font-size: 12px;
    color: #F9FAF8;
}

.hero .links{
    font-size: 18px;
    color: #e5e7eb;

}

.blue_rectangle{
    background-color: #3882F6;

}
/* fix: should be > to select only four vals for the direct child*/
.body1 > div:first-of-type{
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
    text-shadow: 3px 3px 6px yellowgreen;
}

/*Hero section formatting*/
.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 25px;
    padding: 10px 0 40px 0;
}

.top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
}

.links ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}

a {
    color:whitesmoke;
    text-decoration: none;
}

a:hover{
    color: mediumaquamarine;
    text-decoration: underline;
}
img.logo{
    width: 100px;
    height: auto;
}

img.header_img{
    width: 300px;
    height: auto;
}

.mid_header{
    display: flex;
    justify-content: space-between;
    padding: 10px 15% 0 15%;
}

.left{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
}

.right{
    display: flex;
    align-items: center;
}

button.signup{
    width: 25%;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: 3px solid grey;
    transition-duration: 0.3s;
}

button.signup:hover{
    box-shadow: -1px 4px 8px grey;
}

/*Body section styling*/

.four_vals img{
    width: 150px;
    height: auto;
    animation: 4s ease-in infinite alternate gradient;
    border-radius: 10%;
}

@keyframes gradient{
    0%{border: 6px groove #2A7B9B}
    25%{border: 6px groove mediumaquamarine}
    50%{border: 6px groove #A1D26C}
    100%{border: 6px groove goldenrod}
}

.body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5% 0;
}

.four_vals > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four_vals{
    display: flex;
    gap: 25px;
    width: 60%;
    justify-content: center;
}


/*Quote section styling*/

.body2{
    background-color: lightsteelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 1.5em;
    padding: 7.5% 0;
}

.author{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    font-weight:600;
}
.quote{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    font-style: italic;
}


/*Call to action section*/

.body3{
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 50px 110px;
}

.blue_rectangle{
    width: 50vw;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    border-radius: 5px;
}

.guiding_text > .text1{
    font-size: 1.25em;
    font-weight: 800;
}

#signup{
    background-color: #3882F6;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    padding: 5px 10px;
    transition-duration: 0.3s;

}

#signup:hover{
    background-color: white;
    color: #3882F6;
    border-color: #3882F6;
}


/*end note section styling*/

.endsec{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.endnote{
    color: white;
    font-size: 12px;
}

