/* Overall font setting*/
body{
    font-family: Roboto, 'Open Sans', sans-serif;
}


.left > div:first-of-type{
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 900;

}

.left > #normal{
    font-size: 10px;
    color: #F9FAF8;
}

.hero .links{
    font-size: 18px;
    color: #e5e7eb;

}

.blue_rectangle{
    background-color: #3882F6;

}
/* fix: should be > to select only four vals for the direct child*/
.body1 > div:first-of-type{
    font-size: 36px;
    color:#1f2937;
    font-weight: 900;
}

/*Hero section formatting*/
.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    gap: 25px;
    padding: 10px 0 40px 0;
}

.top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15% 0 15%;
}

.links ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}

a {
    color:whitesmoke;
    text-decoration: none;
}

a:hover{
    color: mediumaquamarine;
    text-decoration: underline;
}
img.logo{
    width: 100px;
    height: auto;
}

img.header_img{
    width: 300px;
    height: auto;
}

.mid_header{
    display: flex;
    justify-content: space-between;
    padding: 0 15% 0 15%;
}

.left{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 7px;
}

.right{
    display: flex;
}

button.signup{
    width: 25%;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
}

/*Body section styling*/

.four_vals img{
    width: 150px;
    height: auto;
    animation: 4s ease-in infinite alternate gradient;
    border-radius: 10%;
}

@keyframes gradient{
    0%{border: 6px groove #2A7B9B}
    25%{border: 6px groove mediumaquamarine}
    50%{border: 6px groove #A1D26C}
    100%{border: 6px groove goldenrod}
}

.body1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1% 0 3% 0;
}

.four_vals > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.four_vals{
    display: flex;
    gap: 25px;
}
